body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Left Section: 60% width */
.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}

#heatmap {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
}

#yearSlider {
  width: 100%;
  margin-top: 10px;
}

/* Slider Styling*/
.slider-container {
  align-self: center;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background: #b9e4cd; 
  border: 1px solid #b0d0b9; 
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.streamgraph svg,
.barchart svg {
  width: 100%;
  height: -webkit-fill-available;
}

.streamgraph,
.barchart{
    flex: 1;
    height: -webkit-fill-available;
} 

/* Right Section: 40% width */
.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}



/* Styling for visualization section titles */
.right section h2 {
  margin: 0 0 0 0;
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase; 
  border-bottom: 3px solid #ccc;
  padding-bottom: 3px;
  font-family: Arial, sans-serif;
}


.annotations ul {
  padding-left: 20px;
}

.annotations{
    padding-top: 6px;
    overflow-y: auto;
}

.streamgraph-container, .barchart-container {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
}
